a:link {color:#9d9d9d;}/* 未被访问的链接 */

a:visited {color:#9d9d9d;}/* 已被访问的链接 */

a:hover {color:white;}/* 鼠标指针移动到链接上 */

a:active {color:white;}/* 正在被点击的链接 */
/*顶部视图*/
.astyle{
	float: left;
	line-height: 50px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	font-size: 18px;
}
.topview{
	background-color: #282828;
	width: 100%;
	height: 50px;
	margin: -10px 30px 0px -10px;
	padding-left: 45px;
	}

/*世界那么大*/
.titleview{
	background-color: #eeeeee;
	margin: 20px 50px 0px 50px;
	padding: 30px;
}
ul{
	list-style-type: none;
	display: inline;
}
/*世界那么大*/
.titltview_big_text{
	font-size: 60px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}
/*本页面*/
.titltview_small_text{
	font-size: 24px;
	text-align: center;
	margin-bottom: 10px;
 }
/*免费vpn账号*/
.vpnview_title{
	font-size: 30px;
	text-align: center;
}
.vpnview_content{
	text-align: center;
	font-size: 17px;
}
.vpnview_content_us_bordercolor{
	 border: 1px #3e72a7 solid;
 }
.vpnview_content_us_titlecolor{
	background-color: #3e72a7;
	color: white;
}
.vpnview_content_jp_bordercolor{
	border: 1px #daebcf solid;
}
.vpnview_content_jp_titlecolor{
	 background-color: #daebcf;
	color: #4a7443;
 }
.vpnview_content_usa_bordercolor{
	border: 1px #ead4d4 solid;
}
.vpnview_content_usa_titlecolor{
	background-color: #ead4d4;
	color: #aa6e6c;
}
.vpnview_content_jp_titlecolor,.vpnview_content_usa_titlecolor,.vpnview_content_us_titlecolor{
	text-align: center;
	font-size: 17px;
	line-height: 40px;
	margin-top: 0px;
}
.vpnview_content_jp_bordercolor,.vpnview_content_us_bordercolor,.vpnview_content_usa_bordercolor{
	/*float: left;*/
	display: inline-block;
	margin: 20px 1.4% 20px 1.4%;
	min-width: 300px;
	width: 30%;
	border-radius: 5px;
}
.activebutton{
	color: white;
	font-size: 18px;
	background-color: #72b566;
	width: 60px;
	text-align: center;
	font-size: 17px;
	margin: 20px auto;
	border-radius: 3px;
}
.shop{
	display: inline-block;
	width: 30%;
	margin: 20px 1.4% 20px 1.4%;
	min-width: 300px;
}
.endtitletext{
	font-size: 26px;
	text-align: center;
}
.goweb{
	text-align: center;
	line-height: 40px;
	width: 120px;
	height: 40px;
	background-color: green;
	font-size: 17px;
	color: white;
	border-radius: 5px;
	margin: 20px auto;
}
.view-vertical{
	/*display: block;*/
	width: 100%;
}
.entext{
	text-align: center;
	font-size: 17px;
}
hr{
	margin: 0px 50px 0px 50px;
	background-color: #6e6b72;
}
a{
	text-decoration:none;
}
